# WordPress + WooCommerce GraphQL endpoint (WPGraphQL + WooGraphQL plugins required)
# e.g. https://your-store.com/graphql
NEXT_PUBLIC_SITE_URL=https://www.campcreekmarket.com
NEXT_PUBLIC_WP_GRAPHQL_URL=http://api.campcreekmarket.com/graphql
NEXT_PUBLIC_WP_HOSTNAME=api.campcreekmarket.com
NEXT_PUBLIC_WP_API_URL=https://api.campcreekmarket.com
WC_CONSUMER_KEY=ck_c5b32d07bbc10e3e27f728696d17d86ab921b459
WC_CONSUMER_SECRET=cs_499e8c615c16eefff835517e692fc6fea4ad15aa